.item0 {
    grid-area: header;
}

.item1 {
    grid-area: logo;
}

.item2 {
    grid-area: language;
}

.item3 {
    grid-area: search-bar;
}

.item4 {
    grid-area: nav;
}

.item5 {
    grid-area: stripe;
}

.item6 {
    grid-area: breadcrumb;
}

.item7 {
    grid-area: content;
}

.item8 {
    grid-area: footer;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-x: hidden;
    display: grid;
    grid-template-areas:
        'header'
        'breadcrumb'
        'content'
        'footer';
    grid-template-rows: 230px 34px auto 340px;
    gap: 10px;
    width: 1205px;
    margin: auto;
}

#breadcrumb a,
main a,
footer a {
    color: #631111;
    text-decoration: none;
    font-weight: 600;
}

#breadcrumb a:hover,
main a:hover,
footer a:hover {
    color: #ddab9e;
    text-decoration-line: underline;
}

/* ----------------  header, navigation  ---------------- */
header {
    display: grid;
    grid-template-areas:
        'logo language'
        'logo search-bar'
        'logo nav'
        'stripe stripe';
    grid-template-rows: 56px 41px 85px 12px;
    grid-template-columns: 32% 68%;
    /* background-color: #462a2a; */
    gap: 5px;
    padding: 4px;
    margin-top: 20px;
    max-height: 200px;
}

#stripeNav,
#languageDiv,
.underlay,
#searchDiv,
.icons {
    display: none;
}

#logoSize {
    margin-left: 60px;
    width: 80%;
    height: 98%;
    /* border: 2px solid #e6d1d1; */
}

.item2 {
    display: grid;
    /* background-color: aqua; */
    justify-content: right;
    margin-right: 8px;
}

.item3 {
    display: grid;
    /* background-color: blueviolet; */
    justify-content: right;
    margin-right: 10px;
}

#search2 button {
    width: 30px;
    height: 38px;
}

#search2 input {
    width: 20em;
    height: 38px;
}

.fa-magnifying-glass {
    color: #500e0e;
    font-size: 20px;
    border: #631111 solid 2px;
    padding: 8px;
    background-color: #c7978f;
}

.searchBar {
    display: flex;
    justify-content: center;
    padding: 1px;
}

#inputSearch {
    margin-right: 10px;
    padding: 4px;
    width: 25em;
    height: 40px;
    border: #631111 solid 2px;
}

.flag {
    height: auto;
    max-height: 30px;
    border: 4px solid #f7eae5;
    border-radius: 1px;
}

#mainNav {
    display: flex;
    justify-content: right;
    /* background-color: pink; */
    margin-right: 10px;
}

.right {
    right: 0;
}

#mainNav>ul {
    margin-top: 15px;
}

.drop {
    position: relative;
    float: left;
}

.mainItem {
    display: inline-block;
    list-style-type: none;
}

.mainItem>a {
    display: block;
    font-size: 20.5px;
    font-weight: 500;
    color: #500e0e;
    background-color: #ddab9e;
    text-decoration: none;
    padding: 14px;
    margin-left: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 210px;
    /* z-index: 1; */
}

.dropdown-content a {
    display: block;
    font-size: 20.5px;
    background-color: #ffffff;
    text-decoration: none;
    padding: 14px;
    margin-left: -30px;
}

.dropdown-content a:hover {
    background-color: #E7CCBF;
}

/* Streifen-Unternavigation */
.dropdown-content>li:first-child {
    border-top: 12px solid #a07067;
}

/* Unternavigation */
.dropdown-content>li {
    list-style-type: none;
}

.dropdown-content>li>a {
    color: #631111;
    background-color: #ffffff;
    box-shadow: 0px 14px 25px 0px #000000bf;
    -webkit-box-shadow: 0px 14px 25px -5px #000000bf;
}

/* aktuell + archiv */
.dropdown-content>ul>li {
    background-color: #f7eae5;
    padding-left: 20px;
    list-style-type: none;
    margin-left: -70px;
    box-shadow: 0px 14px 25px 0px #000000bf;
    -webkit-box-shadow: 0px 14px 25px -5px #000000bf;
}

.dropdown-content>ul>li>a {
    color: #631111;
    background-color: #ffffff;
    margin-left: 10px;
}

#mainNav .drop:hover .dropdown-content {
    display: block;
}

#mainNav .drop:hover .mI_text {
    color: #ffffff;
    background-color: #631111;
    padding-bottom: 32.5px;
}

#aktiv {
    color: #ffffff;
    background-color: #631111;
    padding-bottom: 32px;
}

#stripe {
    background-color: #a07067;
    padding: 4px;
    margin-left: -800px;
    margin-right: -800px;
    position: relative;
    top: -4px;
}

/* ----------------  breadcrumb  ---------------- */

#breadcrumb {
    background-color: #a171681a;
}

#breadcrumb ul {
    list-style: none;
    margin: 5px;
    padding-left: 30px;
}

#breadcrumb ul li {
    display: inline;
    font-size: 18px;
}

#breadcrumb ul li+li:before {
    color: black;
    content: ">\00a0";
}

#breadcrumb a {
    font-weight: normal;
}

/* ----------------  footer, contact  ---------------- */
footer {
    background-color: #a07067;
    margin-left: -800px;
    margin-right: -800px;
}

#contact {
    padding: 30px 30px 0px 30px;
    margin: auto;
    width: 1145px;
}

.btn {
    display: inline-block;
    padding: 10px 10px 0px 0px;
}

.btn a {
    font-size: 18px;
    font-weight: 500;
    color: #500e0e;
    background-color: #ddab9e;
    text-decoration: none;
    border: 1px solid #500e0e;
    padding: 8px;
}

.btn a:hover {
    font-weight: 500;
    color: #ffffff;
    background-color: #631111;
    text-decoration: none;
}

.line {
    border-top: 5px solid #ddab9e;
    border-radius: 3px;
    margin: 30px;
}

/* ----------------  main content  ---------------- */
.headline {
    grid-area: headline;
}

.specials.one,
.headline.one {
    grid-area: headline1;
}

.headline.two {
    grid-area: headline2;
}

.image {
    grid-area: image;
}

.text {
    grid-area: text;
}

.text.one.left {
    grid-area: text1L;
}

.text.one.right {
    grid-area: text1R;
}

.text.one {
    grid-area: text1;
}

.text.two {
    grid-area: text2;
}

.column1 {
    grid-area: column1;
}

.column2 {
    grid-area: column2;
}

.column3 {
    grid-area: column3;
}

.column4 {
    grid-area: column4;
}

main {
    background-color: #a171681a;
    padding: 30px;
}

main h1 {
    margin: 0px 0px 25px 0px;
}

main h2 {
    margin: 0px 0px 15px 0px;
}

main p:first-child {
    margin-top: 0px;
}

main h3 {
    margin: 8px 0px;
}

main li {
    list-style-type: square;
}

/* home */

#new {
    color: #500e0e;
    background-color: #ffffff;
    text-decoration: none;
    border: 1px solid #500e0e;
    padding: 20px;
    margin: 30px 0px 10px 0px;
}

#new h2 {
    margin-top: 0px;
}

#new span {
    display: block;
    padding-bottom: 8px;
}

/* awards */

.awards.menu {
    display: grid;
    grid-template-areas:
        'headline1 text1L text1R'
        'headline2 text2 text2';
    grid-template-columns: 30% 35% 35%;
    /* grid-template-rows: 45%; */
    line-height: 1.5;
}

.awards .specials {
    padding-top: 50px;
}

.awards .two {
    line-height: 1.4;
}

.awards .space {
    margin-bottom: 8px;
}

.awards.subpage {
    display: grid;
    grid-template-areas:
        'headline headline'
        'image text';
    grid-template-rows: 70px;
}

.awards.subpage.h {
    grid-template-columns: 30% 70%;
}

.awards.subpage.v {
    grid-template-columns: 40% 60%;
}

.awards.subpage h1 {
    font-size: 2.5em;
}

.awards.subpage .image img {
    display: grid;
    max-width: 100%;
    padding: 10px 0px 50px 0px;
}

.image#horizontal img {
    max-width: 350px;
}

.awards.subpage .text {
    padding: 10px 0px 50px 40px;
    hyphens: auto;
    text-align: justify;
}

.awards.subpage .text dl {
    margin-top: 2px;
    margin-bottom: 4px;
}

.awards.subpage .text table {
    padding-bottom: 5px;
}

.awards.subpage .text th {
    font-weight: normal;
    font-style: italic;
    text-align: left;
    padding-top: 5px;
    border-bottom: 1px dashed black;
}

.awards.subpage .text td {
    padding-right: 30px;
}

.awards.subpage div.text > a {
    display: block;
}

.awards.subpage div.text > p+a {
    padding-bottom: 18px;
}

.awards.subpage div.text > b+a {
    padding-bottom: 18px;
}

.awards.subpage div.text #adress {
    padding-top: 0px;
    margin-top: 0px;
}

#Euro th:nth-child(2) {
    padding-right: 60px;
}

#WDXS td:first-child {
    width: 75px;
    padding-right: 15px;
}

#WGLC dl:first-of-type dd {
    font-size: 0.9em;
    font-style: italic;
}

#ZODIAC table {
    font-size: 0.9em;
    font-style: italic;
    padding-left: 40px;
}

.awards.insert {
    display: grid;
    grid-template-areas:
        'text1 headline2'
        'headline1 headline1'
        'text2 text2';
    grid-template-rows: 140px 70px;
    grid-template-columns: 50% 50%;
    height: 1405px;
}

.insert iframe {
    width: 1140px;
    height: 1195px;
}

.awards.insertA {
    display: grid;
    grid-template-areas:
        'headline headline'
        'text1 text2';
        grid-template-columns: 50% 50%;
        grid-template-rows: 70px;
    line-height: 1.6;
}

/* contests */

.contests span {
    display: block;
    margin: 0px 0px 10px 0px;
}

.contests a {
    font-size: 1.2em;
    padding: 10px 3px 10px 3px;
    width: fit-content;
}

.contests .headlink {
    font-size: 1.2em;
    margin: 20px 0px 30px 0px;
}

.contests .headlink.first {
    margin-top: 35px;
}

.contests.subpage h2 {
    margin-top: 25px;
}

.contests.subpage .thicker {
    font-size: 1.1em;
    margin-top: 40px;
    margin: 40px 0px 20px 0px;
}

.contests .underlink {
    padding-left: 20px;
}

.contests.subpage .headlink {
    margin: 30px 0px;
}

.contests.archive {
    display: grid;
    grid-template-areas:
        'headline headline headline headline'
        'headline1 headline1 headline2 headline2'
        'column1 column2 column3 column4';
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 65px 35px;
    /* line-height: 1.6; */
}

.contests.archive span {
    margin: 0px 0px 15px 0px;
}

/* members */

.members iframe {
    width: 1140px;
    height: 1195px;
}

/* downloads */

.downloads h2 {
    margin: 0px 0px 30px 0px;
}
.downloads span {
    margin: 0px 0px 30px 0px;
}

.downloads .heading3 {
    font-size: 1.17em;
    margin-right: 20px;
}

.downloads .heading3.v2 {
    display: block;
    margin-top: -15px;
    margin-bottom: 20px;
}

.downloads .heading3.v3 {
    display: block;
    margin-top: -15px;
    margin-bottom: 15px;
}

