/* used colours */

div {
    /* text */
    color: #ffffff;
    color: #500e0e;
    color: #500e0e4b;
    /* border */
    color: #631111;
    color: #f7eae5;
    /* background */
    color: #e7ccbf;
    color: #e7ccbfe0;
    color: #c7978f; 
    color: #c7978fe0;
    /* new */
    color: #ddab9e;
    /* stripe */
    color: #b3756a;

}