.item0 { grid-area: header; }
.item1 { grid-area: logo; }
.item2 { grid-area: language; }
.item3 { grid-area: search; }
.item4 { grid-area: nav; }
.item5 { grid-area: content; }
.item6 { grid-area: footer; }

body {
    display: grid;
    grid-template-areas:
    'header'
    'content'
    'footer';
    grid-template-rows: 23% auto 20%;
    gap: 10px;
    margin: 0px 160px;
}

/* -----160-----------  header, navigation  ---------------- */
header {
    display: grid;
    grid-template-areas:
    'logo language search'
    'logo nav nav';
    grid-template-rows: 30% 70%;
    grid-template-columns: 22% 48% 30%;
    background-color: red;
    gap: 5px;
    padding: 10px;
    margin-top: 20px;
}

#logo {
    background-color: #631111;
}

#logoSize {
    width: 98%;
    height: 98%;
}

.item2 {
    display: grid;
    background-color: aqua;
    justify-content: right;
}

.item3 {
    display: grid;
    background-color: blueviolet;
    justify-content: right;
    margin-right: 20px;
}

#search button {
    width: 30px;
    height: 38px;
}

#search input {
    width: 20em;
    height: 38px;
}

.flag {
    height: auto;
    max-height: 30px;
    border: 4px solid beige;
    border-radius: 3px;
}

#mainNav {
    background-color: pink;
}

/* ----------------  footer, contact  ---------------- */
footer {
    background-color: lightgrey;
    padding: 10px;
}

/* ----------------  main content  ---------------- */
section {
    background-color: lightsalmon;
    padding: 10px;
}